<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="FashionApp"> <!-- đổi thành tên gói của bạn -->

  <application
    android:name=".MainApplication"
    android:label="FashionApp"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme">

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:label="@string/app_name"
      android:windowSoftInputMode="adjustResize">

      <!-- Launch intent filter -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Deep linking intent filter -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <!-- Scheme & host để bắt link -->
        <data android:scheme="fashionapp" />
        <data android:scheme="https"
              android:host="fashionapp.com"
              android:pathPrefix="/reset-password" />
      </intent-filter>

    </activity>

  </application>

</manifest>
